<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Hello World, AngularJS</title>

  <script type='text/javascript' src='/api/dwr/engine.js'></script>
  <script type='text/javascript' src='/api/dwr/interface/RemoteFunctions.js'></script>
  <script type='text/javascript' src='/api/dwr/interface/MyStepRemoteProxy.js'></script>
  <script type='text/javascript' src='/api/dwr/util.js'></script>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

  <script src="js/jslib/jquery-1.9.1.js"></script>
  <script src="js/jslib/ng-grid-2.0.11.debug.js"></script>
  <script src="js/app.js"></script>
  
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/base-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="css/csslib/ng-grid.css">
  <link rel="stylesheet" href="css/app.css">

  <script type='text/javascript'>

    var reply0 = function(data)
    {
      if (data != null && typeof data == 'object') alert(dwr.util.toDescriptiveString(data, 2));
      else dwr.util.setValue('d0', dwr.util.toDescriptiveString(data, 1));
    }
  </script>
</head>
<body>


  <div ng-controller="TabsDemoCtrl">

    <tabset>
      <tab heading="Angular Test">
        <br/>
        <label for="someText">
          Try updating the Step Name: <input id="someText" type="text" ng-model="stepModel.stepName" />
        </label>
        <aside><h1>Step Name: {{ stepModel.stepName }}</h1></aside>  
      </tab>

      <tab heading="AJAX Test">
        <br/>
        <input class="pure-button pure-button-primary" type='button'
         onclick='RemoteFunctions.getPluginFolderPath(reply0);' value='getPluginFolderPath'
         title='Calls RemoteFunctions.getPluginFolderPath(). View source for details.'/>
        <aside><span id='d0' class='reply'></span></aside>
      </tab>

      <tab heading="Grid Test" ng-controller="GridDemoCtrl">
        <br/>
        <div class="gridStyle" ng-grid="gridOptions"></div>
      </tab>


      <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
        <br/>
        {{tab.content}}
      </tab>

      <tab select="alertMe()">
        <tab-heading>
          <i class="glyphicon glyphicon-bell"></i> Alert!
        </tab-heading>
        <br/>
        I've got an HTML heading, and a select callback. Pretty cool!
      </tab>

    </tabset>
  </div>

</body>
</html>